* {
	box-sizing: border-box;
}

.MenuWrap {
	background-color: rgb(183, 242, 141);
	font-family: 'Oswald', sans-serif;
	font-size: 50%;
	min-height: 2.75rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	}
.ListItem,
.LastItem {
	color: #000000;
	text-decoration: none;
}
.ListItem {
	margin-right: 1rem;
}
.LastItem {
	margin-left: auto;
}

@media screen and (min-width: 380px) {
	.MenuWrap {
		background-color: rgb(183, 242, 141);
		font-family: 'Oswald', sans-serif;
		font-size: 1rem;
		min-height: 2.75rem;
		display: flex;
		align-items: center;
		padding: 0 1rem;
		}
	.ListItem,
	.LastItem {
		color: #000000;
		text-decoration: none;
	}
	.ListItem {
		margin-right: 1rem;
	}
	.LastItem {
		margin-left: auto;
	}
}


body {
	padding: 1rem 0.5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	color: #333;
}

img {
	max-width: 100%;
}

.Header {
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.Strap {
	font-size: 100%;
}

.MoneyShot {
	position: relative;
}

.MoneyShotImg {
	border: 6px solid rgb(183, 242, 141);
	border-radius: 4px;
}

.Textbook {
	position: relative
}

.TextbookImg {
	border: 6px solid rgb(183, 242, 141);
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 50%;
}

.LogoWrapper {
	display: block;
}

.ImageCaption {
	font-size: 0.75rem;
	position: absolute;
	bottom: 0.5rem;
	right: 1rem;
	padding: 3px;
	background-color: #222;
	color: #e4e4e4;
}

.IntroText {
	font-size: 1.8rem;
	font-style: italic;
}

p {
  text-indent: 10%;
}

.one {
    text-indent: 0%;
	text-align: center;
}

.MethodWrapper li {
	padding: 0.4rem 0;
}

.MethodWrapper li:after {
	content: "✼";
	display: block;
	text-align: center;
	margin: 1rem 0 0.5rem 0;
	color: #eee;
}

@media screen and (min-width: 800px) {
	body {
		border-left: 4px solid #f9f9f9;
		border-right: 4px solid #f9f9f9;
		padding: 1rem 2rem;
	}

	.IntroWrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.MoneyShot,
	.IntroText {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		text-align: center;
	}

	.IntroText {
		padding: 0.5rem;
		font-size: 2.5rem;
		text-align: left;
		position: relative;
	}

	.Ingredients {
		font-size: 0.9rem;
		float: right;
		padding: 1rem;
		margin: 0 0 0.5rem 1rem;
		border-radius: 3px;
		background-color: #fbfbfb;
		border: 2px solid rgb(183, 242, 141);
	}

	.BodyText h3 {
		margin: 0;
	}
}

@media screen and (min-width: 601px) {
    p {
      font-size: 200%;
    }
}

@media screen and (min-width: 601px) {
	.Strap {
		font-size: 120%;
	}
}

@media screen and (min-width: 601px) {
    h3 {
      font-size: 300%;
    }
}

body {
	background-color: #ffffff;
	color: #000000;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(13, 12, 12);
		color: #ddd;
	}
}

.container {
	font-size: 100%;
	display: grid;
	gap:;
	background-color: rgb(255, 255, 255);
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 200px;
	grid-auto-rows: 200px;
}
[class^='grid-item'] {
	outline: 1px rgb(183, 242, 141) solid;
	display: grid;
	background-color: rgb(255, 255, 255);
	align-items: center;
	justify-content: center;
}

.FirstFooterText {
	text-align: center;
}

.grid-item1 {
	grid-column: 1/-1;
	}

.grid-item2 {
	grid-column: 1/2;
	}

.grid-item3 {
	grid-column: 2/3;
	}

.grid-item4 {
	grid-column: 1/2;
	}
.grid-item5 {
	grid-column: 2/3
	}


@media screen and (min-width: 601px){
	.container {
		font-size: 100%;
		display: grid;
		gap:10px;
		background-color: rgb(255, 255, 255);
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 200px;
		grid-auto-rows: 200px;
	}
	[class^='grid-item'] {
		outline: 1px rgb(183, 242, 141) solid;
		display: grid;
		background-color: rgb(255, 255, 255);
		align-items: center;
		justify-content: center;
	}

	.FirstFooterText {
		text-align: center;
	}

	.grid-item1 {
		grid-column: 1/-1;
		}

	.grid-item2 {
		grid-column: 1/1.5;
		}

	.grid-item3 {
		grid-column: 2/3;
		}

	.grid-item4 {
		grid-column: 3/4;
		}
	.grid-item5 {
		grid-column: 1/-1
		}
	}

	.subcontainer {
		font-size: 100%;
		display: grid;
		gap:10px;
		background-color: rgb(255, 255, 255);
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 30px;
		grid-auto-rows: 30px;
	}
	[class^='subgrid-item'] {
		outline: 1px rgb(255, 255, 255) dashed;
		display: grid;
		background-color: rgb(255, 255, 255);
		align-items: center;
		justify-content: center;
	}